<div class="form-group">
  <div class="instructions">
    Select a player to give
    {{inspirationLabel}}
    to:
  </div>
  {{#each users}}
    <div class="user-area">
      <label for="user-{{id}}">
        <input type="radio" name="user" id="{{id}}" />
        {{name}}
      </label>
    </div>
  {{/each}}
  <div class="user-area">
    <label for="all">
      <input type="radio" name="user" id="all" />
      All players
    </label>
  </div>
</div>